body {
  margin: 0; padding: 0;
}

/* bestsellers-section */
/* Figma frame 기준: 1920 x 1085 / padding: 124px 80px */
.bestsellers-section {
  padding: 124px 80px;
}
/* ul.nav */
.ul-nav {
  border-top: 1px solid #e1ded9;
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 65px;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  color: #333333;
}

.view-all {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #333333;
}

/* div.amp_swiper */
/* Figma 기준: 카드 410px x 4개, gap 40px */
.amp-swiper {
  display: flex;
  gap: 40px;
}

/* best-product-list01 */
/* Figma 기준: 410 x 674 */

.best-product-list01 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* product-img */
/* Figma 기준: 410 x 410 */
.product-img {
  height: 410px;
  background-color: #ebebeb;
}

/* tile-body01 */
/* Figma 기준: height 106 / padding top 40, bottom 42 */
.tile-body01 {
  padding-top: 40px;
  padding-bottom: 42px;
}

.product-name {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

/* tile-body02 */
/* Figma 기준: height 63 / border-bottom */
.tile-body02 {
  padding-bottom: 40px;
  border-bottom: 1px solid #e1ded9;
}

.product-desc {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

/* tile-body03 */
/* Figma 기준: padding top 14, bottom 24 */
.tile-body03 {
  padding-top: 14px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.product-price {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
}

.best-ml {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 14px;
  color: #333333;
}

.ml-active {
  font-weight: 700;
  text-decoration: underline;
}

/* best-pro-btn */
/* Figma 기준: height 40 */
.best-pro-btn {
  border: 1px solid #e1ded9;
  background-color: #ffffff;
  color: #212529;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}
